@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Ochuko Lucky</h1>
    <p class="lead">We received your application for the position of a .Net Developer. After reviewing your CV, you have been selected for the First Stage of the recruitment process which is a Technical Assessment. kindly complete the assessment as stated below.</p>
    <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Transaction Fee Calculator</h2>
        <p>
            Write a simple program that reads the fee configuration from a file, accepts an "Amount to be transferred" as input, use the amount configuration in the file to compute the expected charge, and outputs the charge.

            NOTE: Ensure that the charge is based on the content of the configuration file. If the content of the configuration file is changed, the output should change accordingly.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Transaction SurCharge</h2>
        <p>The business has contracted you to help develop a small program that allows the business to bear the transaction charge instead of the customer. What this means is that the customer should be advised to transfer an amount less the bank charge, so that the customer gets debited the exact amount. i.e, a customer who is transferring N4000 would be advised to transfer N3990 so that when the bank adds the charge of N10, he gets debited N4000.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>How to Submit</h2>
        <p>You are expected to submit the technical assessment latest on  Friday 13th November 2020 by 12:00 pm, kindly reply to this mail and put in a copy of your mail deveassement@parkwayprojects.com and koyalowo@parkwayprojects.com</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>